<div class="modal crm-invitationDetail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
        <form name="form">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-bind="modalTitle"></h4>
        </div>
        <div class="modal-body">
        	<div class="form-group" ng-class="{ 'has-error': form.invitateTime.$dirty && form.invitateTime.$error.required }">
        		<label for="invitateTime" >* 邀约时间</label>
                <input type="date" onfocus="(this.type='date')" name="invitateTime" id="invitateTime" class="form-control" ng-model="CrmInvitationDetailVoForCreate.invitateTime"  value="{{ CrmInvitationDetailVoForCreate.invitateTime | date:'yyyy-MM-dd' }}" readonly="readonly" required/>
                <span ng-show="form.invitateTime.$dirty && form.invitateTime.$error.required" class="help-block">请输入邀约时间</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.receiveTime.$dirty && form.receiveTime.$error.required }">
        		<label for="receiveTime" >* 预到访时间</label>
                <input type="text" datepicker onclick="WdatePicker({dateFmt:'yyyy-MM-dd H:mm'})" onchange=""    name="receiveTime" id="receiveTime" class="form-control"
                       ng-model="CrmInvitationDetailVoForCreate.receiveTime"  value="{{ CrmInvitationDetailVoForCreate.receiveTime }}" readonly  required/>
          		<!-- <input type="text" name="receiveTime" id="receiveTime" datePicker ng-model="CrmInvitationDetailVoForCreate.receiveTime"
                       class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"  onchange="" />  -->
                       <span ng-show="form.invitateTime.$dirty && form.invitateTime.$error.required" class="help-block">请输入邀约时间</span>
          </div>
            <div class="form-group" ng-class="{ 'has-error': form.invitationContent.$dirty && form.invitationContent.$error.required }">
                <label for="invitationContent" >* 邀约内容</label>
                <textarea name="invitationContent" id="invitationContent" placeholder="邀约内容..." class="form-control" ng-maxlength="100"  ng-model="CrmInvitationDetailVoForCreate.invitationContent" required/>
                <span ng-show="form.invitationContent.$dirty && form.invitationContent.$error.required" class="help-block">请输入邀约内容</span>
            </div>
        </div>
            <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
	          	<button type="submit" class="btn btn-success c5-lable" ng-if="CrmInvitationDetailVoForCreate.isinside==1" ng-click="saveInvitationDetailForRepeat()" ng-disabled="form.$invalid">保存</button>
	          	<button type="submit" class="btn btn-success" ng-if="CrmInvitationDetailVoForCreate.isinside==0" ng-click="save()" ng-disabled="form.$invalid">保存</button>
	          	</div>
        </form>
        </div>
    </div>
</div>
