<div class="view-frame">
    <div class="view-left">
        <div ng-include="'partials/common/common.indexLeft.html'"></div>
    </div>

    <div class="view-content">
	    <div>
		    <ul class="breadcrumb">
            <li><img ng-src="img/icon/bi/jiaowu.png" src="img/icon/bi/jiaowu.png"> 学管报表<span class="divider"></span></li>
		        <li class="active">学管评价</li>
		    </ul>
		</div>
        <tabs pane-changed="changeCurrentTab(selectedPane)">
        	<pane title="学管月评">
        		<div ng-include="'partials/bi/biLearningComment/biLearningComment.month.html'"></div>
        	</pane>
        	<pane title="月评汇总">
        		<div ng-include="'partials/bi/biLearningComment/biLearningComment.summary.html'"></div>
        	</pane>
        </tabs>
    </div>
</div>
