<div class="modal orderModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="OrderChargeBackController">
    <div class="modal-dialog form-horizontal"  style="width:80%">
        <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind="modalTitle"></h4>
                </div>
                <div class="modal-body mt-modal-order">
                    <div class="row">
                        <div class="col-sm-4 form-group" >
                            <label for="orderNo" class="fl control-label ti-14"> 合同编号</label>
                            <input type="hidden" name="crmStudentId" id="crmStudentId"  ng-model="order.crmStudentId" class="input-sm form-control"/>
                            <input type="hidden" name="originalOrderNo" id="originalOrderNo"  ng-model="order.originalOrderNo" class="input-sm form-control"/>
                            <div ng-if="order.orderNo != order.originalOrderNo"  class="col-sm-4">
                                <input type="text" readonly name="orderNo" id="orderNo"  ng-model="order.orderNo" class="input-sm form-control" readonly/>
                            </div>
                            <div ng-if="order.orderNo == order.originalOrderNo"  class="col-sm-4">
                                <input type="text" readonly  name="orderNoNew" id="orderNoNew"  ng-model="order.orderNoNew" class="input-sm form-control" readonly/>
                            </div>
                            <div class="col-sm-4" id="nakedContractTitle">
                                <label for="nakedContract" class="radio-vr" ng-class="{'active':order.nakedContract}">无合同订单</label>
                                <input type="checkbox" style="display: none" disabled ng-checked="order.nakedContract==1" id="nakedContract"  name="nakedContract" ng-model="order.nakedContract">
                            </div>
                        </div>
                        <div class="col-sm-4 form-group" >
                            <label for="name" class="control-label">* 学员姓名</label>
                            <div class="col-sm-6">
                                <input type="text" name="name" id="name" readonly  ng-model="order.name" placeholder="1到20个字符" ng-maxlength="20" ng-minlength="1" required  class="form-control"/>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group" >
                            <label for="orderType" class="control-label">* 订单类型</label>
                            <div class="col-sm-6">
                                <select ng-model="order.orderType" name="orderType" id="orderType" class="form-control" readonly
                                        ng-options="option.id as option.name for option in orderTypeSelect">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="contractStartDate" class="control-label">* 签约时间</label>
                            <div class="col-sm-6">
                                <input type="date" readonly value="{{order.contractStartDate | date:'yyyy-MM-dd' }}" name="contractStartDate" id="contractStartDate"  ng-model="order.contractStartDate" required class="form-control"/>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="contractEndDate" class="control-label">* 到期时间</label>
                            <div class="col-sm-6">
                                <input type="date" readonly value="{{order.contractEndDate | date:'yyyy-MM-dd' }}" name="contractEndDate" id="contractEndDate"  ng-model="order.contractEndDate" required class="form-control"/>
                            </div>
                        </div>
                         <div class="col-sm-4  form-group">
                            <label for="orderRule" class="control-label">* 课时规则</label>
	                        <div class="col-sm-6">
                                 <select ng-model="order.orderRule" disabled name="orderRule" id="orderRule" class="form-control" required>
                                    <option value="">-- 请选择 --</option>
                                    <option value="1" ng-selected="order.orderRule == 1">1小时</option>
                                    <option value="2" ng-selected="order.orderRule == 2">40分钟</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-dashed"></div>
                    <div class="br-gray pl-0">
                        <table class="table table-bordered table-striped mt-table1" st-table="order.orderCourses" >
                            <thead>
                            <tr>
                                <th>课程ID</th>
                                <th>课程类型</th>
                                <th>年级</th>
                                <th>科目</th>
                                <th>性质</th>
                                <!--<th>标准单价</th>-->
                                <th>报价单单价</th>
                                <th>课时量</th>
                                <th>总价</th>
                                <!--<th>是否试听</th>-->
                                <th>试听老师</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="row in order.orderCourses">
                                <td>{{row.courseId}}</td>
                                <td>{{row.courseTypeName}}</td>
                                <td>{{row.gradeName}}</td>
                                <td>{{row.subjectName}}</td>
                                <td ng-show="row.courseProperty == 1">正课</td>
                                <td ng-show="row.courseProperty == 2">赠课</td>
                                <td ng-show="row.courseProperty == 3">返课</td>
                                <td ng-show="row.courseProperty == 4">试听课</td>
                                <td ng-show="row.courseProperty == null || row.courseProperty == 0 ">其他</td>
                                <!--<td>{{row.standardPrice}}</td>-->
                                <td>{{row.actualPrice}}</td>
                                <td>{{row.originalNum}}</td>
                                <td>{{row.actualPrice*row.originalNum | number:2}}</td>
                                <!--<td >
                                    <select ng-model="row.isCourseAudition" name="row.isCourseAudition" id="row.isCourseAudition" class=" form-control" required
                                            ng-options="option.id as option.name for option in isCourseAuditionSelect">
                                    </select>
                                </td>-->
                                <td>
                                    <select ng-if="row.isCourseAudition == 1" ng-model="row.teacherId" name="row.teacherId" class="input-sm form-control"
                                            ng-options="option.teacherId as option.teacherName for option in Teachers">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>总计</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{order.totalOriginalNum}}</td>
                                <td>{{order.totalPrice | number:2}}</td>
                                <!--<td></td>-->
                                <td></td>
                            </tr>
                            <tr><td colspan="6"></td>
                            	<td colspan = "3">总时长：{{order.hours}}小时 {{order.minite}}分钟</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-dashed"></div>
                    <div class="label-85 label-110"><!-- 订单课程汇总信息-->
                        <div class="row">
                            <div class="col-sm-4 form-group" >
                                <label for="realTotalAmount" class=" control-label ">* 实际订单价格</label>
                                <div class="col-sm-4">
                                    <input type="text" name="realTotalAmount" id="realTotalAmount"  ng-model="order.realTotalAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="privilegeAmount" class="control-label ">* 直减优惠</label>
                                <div class="col-sm-4">
                                    <input type="text" name="privilegeAmount" id="privilegeAmount"  ng-model="order.privilegeAmount" ng-pattern="/^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/" ng-maxlength="10" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="realPayAmount" class="control-label ">* 本次支付金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="realPayAmount" id="realPayAmount"  ng-model="order.realPayAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" readonly class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group" >
                                <label for="privilegeAmount" class="control-label ">电子账户余额</label>
                                <div class="col-sm-4">
                                    <input type="text" readonly name="accountBalance"  id="accountBalance"  ng-model="order.accountBalance" class="input-sm form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="realTotalAmount" class="control-label ">使用账户金额</label>
                                <div class="col-sm-4">
                                    <input type="text"  readonly name="consumeAccountBalance" id="consumeAccountBalance" ng-pattern="/^[1-9]\d*\b|0$/" ng-model="order.consumeAccountBalance" ng-maxlength="10"  class="input-sm form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group" >
                                <label for="payDueAmount" class="control-label ">* 尾款金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="payDueAmount" id="payDueAmount"  ng-model="order.payDueAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" readonly class="form-control"/>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4  form-group">
                                <label for="contractorPosition" class="control-label ">*签约人岗位</label>
                                <div class="col-sm-4">
                                    <select ng-change="onContractorPositionSelect()" readonly ng-model="order.contractorPosition" name="contractorPosition" id="contractorPosition" class="input-sm form-control"
                                            ng-options="option.id as option.name for option in contractorPositions">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4  form-group">
                                <label for="contractor" class="control-label ">*签约人</label>
                                <div class="col-sm-4">
                                    <select  ng-model="order.contractor" readonly name="contractor" id="contractor" class="input-sm form-control"
                                             ng-options="option.user.id as option.user.name for option in contractors">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-4  form-group">
                                <label for="customerBelonger" class="control-label ">*所属学习顾问</label>
                                <div class="col-sm-4">
                                    <select ng-model="order.customerBelonger" readonly name="customerBelonger" id="customerBelonger" class="input-sm form-control"
                                            ng-options="option.user.id as option.user.name for option in customerBelongers">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="br-gray pl-0"><!-- 交费列表 -->
                        <table class="table table-bordered table-striped mt-table1" st-table="orderPayments" >
                            <thead>
                            <tr>
                                <th>合同编号</th>
                                <th>交费日期</th>
                                <th>交费金额</th>
                                <th>尾款金额</th>
                                <th>经办人</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="row in orderPayments">
                                <td>{{row.orderNo}}</td>
                                <td>{{row.payDate |  date:'yyyy-MM-dd'}}</td>
                                <td>{{row.payAmount}}</td>
                                <td>{{row.payDueAmount}}</td>
                                <td>{{row.name}}</td>
                            </tr>
                        </table>
                    </div>
                     <div class="mt-dashed mt-10"></div>
                    <h5 class="pl-20">业绩所属人</h5>
                    <div class="br-gray pl-0">
                    	  
                    	  <table class="table table-bordered table-striped mt-table1" st-table="order.orderAchievementRatios">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>岗位</th>
                                <th>校区</th>
                                <th>业绩计算比例</th>
                            </tr>
                            </thead>                    
                            <tr ng-repeat="row in order.achievementRatios">
                            	<th>{{row.userName}}</th>
                            	<th>{{row.position.name}}{{row.positionName}}</th>
                            	<th>{{row.departName}}</th>
                            	<th>
                            		<select class="input-sm form-control" ng-model="row.achievementRatio" ng-change="changeRatio(row)" >
                            			<!--<option value=1 ng-selected="row.achievementRatio == 1">100%</option>-->
		                            	<!--<option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>-->

                                        <option value=1 ng-selected="row.achievementRatio == 1">100%</option>
                                        <option value=0.9 ng-selected="row.achievementRatio == 0.9">90%</option>
                                        <option value=0.8 ng-selected="row.achievementRatio == 0.8">80%</option>
                                        <option value=0.7 ng-selected="row.achievementRatio == 0.7">70%</option>
                                        <option value=0.6 ng-selected="row.achievementRatio == 0.6">60%</option>
                                        <option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>
                                        <option value=0.4 ng-selected="row.achievementRatio == 0.4">40%</option>
                                        <option value=0.3 ng-selected="row.achievementRatio == 0.3">30%</option>
                                        <option value=0.2 ng-selected="row.achievementRatio == 0.2">20%</option>
                                        <option value=0.1 ng-selected="row.achievementRatio == 0.1">10%</option>
                            		</select>
                            	</th>
                            </tr>
                          </table>
                         
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                    <button type="button" class="btn btn-success hk-co-tuidan" ng-disabled="!order.refundAmount " ng-click="refund()">退单</button>
                    <input type="text" ng-model="order.refundAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" ng-pattern="" class="input-sm tuikuanjine"/>
                    <label class="tuikuan-jine-num"> 退单金额</label>


                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </div>
    </div>
</div>
