<div class="modal orderModal" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:auto" ng-controller="OrderDetailController">
    <div class="modal-dialog" style="width:80%;min-width: 800px">
        <div class="modal-content form-horizontal" >
            <form>
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind="modalTitleDetail"></h4>
                </div>
                <div class="modal-body mt-modal-order">
                    <div class="">
                        <div class="row ">
                            <div class="col-sm-4 form-group" >
                                <label for="orderNo" class="control-label"> 合同编号</label>
                                <div ng-if="order.orderNo != order.originalOrderNo"  class="col-sm-4">
                                    <input  type="text" readonly  name="orderNo" id="orderNo"  ng-model="order.orderNo" class="input-sm form-control" readonly/>
                                </div>
                                <div ng-if="order.orderNo == order.originalOrderNo"  class="col-sm-4">
                                    <input  type="text" readonly  name="orderNoNew" id="orderNoNew"  ng-model="order.orderNoNew" class="input-sm form-control" readonly/>
                                </div>
                                <div class="col-sm-4" id="nakedContractTitle">
                                    <label for="nakedContract" class="radio-vr" ng-class="{'active':order.nakedContract==1}">无合同订单</label>
                                    <input type="checkbox"  style="display: none" disabled ng-checked="order.nakedContract==1" id="nakedContract"  name="nakedContract" ng-model="order.nakedContract">
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="name" class="control-label">*学员姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" id="name" readonly ng-model="order.name" placeholder="1到20个字符" ng-maxlength="20" ng-minlength="1"  class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="orderType" class="control-label">* 订单类型</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.orderType" name="orderType" id="orderType" readonly class="form-control"
                                            ng-options="option.id as option.name for option in orderTypeSelect">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="contractStartDate" class="control-label">* 签约时间</label>
                                <div class="col-sm-6">
                                    <input type="date" value="{{order.contractStartDate | date:'yyyy-MM-dd' }}" readonly name="contractStartDate" id="contractStartDate"  ng-model="order.contractStartDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="contractEndDate" class="control-label">* 到期时间</label>
                                <div class="col-sm-6">
                                    <input type="date" value="{{order.contractEndDate | date:'yyyy-MM-dd' }}" readonly name="contractEndDate" id="contractEndDate"  ng-model="order.contractEndDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                            	<label for="orderType" class="control-label">* 课时规则</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.orderRule" name="orderRule" id="orderRule" disabled class="form-control"
                                            ng-options="option.id as option.name for option in orderRuleSelect">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-dashed"></div>
                    <div class="br-gray pl-0"><!-- 课程列表 -->
                        <table class="table table-bordered table-striped mt-table1" st-table="order.orderCourses" >
                            <thead>
                            <tr>
                                <th>课程ID</th>
                                <th>课程类型</th>
                                <th>年级</th>
                                <th>科目</th>
                                <th>性质</th>
                                <!--<th>标准单价</th>-->
                                <th>实际单价</th>
                                <th>课时量</th>
                                <th>总价</th>
                               <!-- <th>是否试听</th>-->
                                <th>试听老师</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="row in order.orderCourses">
                                <td>{{row.courseId}}</td>
                                <td>{{row.courseTypeName}}<br/><a id= "crmClassName_{{$index}}" ng-click="selectCrmClass(row.courseId,$index)">{{row.studentClassName}}</a></td>
                                <td>{{row.gradeName}}</td>
                                <td>{{row.subjectName}}</td>
                                <td ng-show="row.courseProperty == 1">正课</td>
                                <td ng-show="row.courseProperty == 2">赠课</td>
                                <td ng-show="row.courseProperty == 3">返课</td>
                                <td ng-show="row.courseProperty == 4">试听课</td>
                                <td ng-show="row.courseProperty == null || row.courseProperty == 0 ">其他</td>
                                <!--<td>{{row.standardPrice}}</td>-->
                                <td>{{row.actualPrice}}</td>
                                <td>{{row.originalNum}}</td>
                                <td>{{row.actualPrice*row.originalNum | number:2}}</td>
                                <!--<td >
                                    <select  disabled ng-model="row.isCourseAudition" name="row.isCourseAudition" class="input-sm form-control"
                                            ng-options="option.id as option.name for option in isCourseAuditionSelect">
                                    </select>
                                </td>-->
                                <td>{{row.teacherName}}</td>
                            </tr>
                            <tr>
                                <td>总计</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{order.totalOriginalNum}}</td>
                                <td>{{order.totalPrice | number:2}}</td>
                                <!--<td></td>-->
                                <td></td>
                            </tr>
                            <tr><td colspan="6"></td>
                            	<td colspan = "3">总时长：{{order.hours}}小时 {{order.minite}}分钟</td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <div class="label-85 label-140"><!-- 订单课程汇总信息-->
                        <div class="row">
                            <div class="col-sm-4 form-group" >
                                <label for="privilegeAmount" class="control-label">* 直减优惠</label>
                                <div class="col-sm-4">
                                    <input type="text" name="privilegeAmount" id="privilegeAmount" readonly ng-model="order.privilegeAmount" ng-pattern="/^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/" ng-maxlength="10"  class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="realTotalAmount" class=" control-label">* 实际订单价格</label>
                                <div class="col-sm-4">
                                    <input type="text" name="realTotalAmount" id="realTotalAmount" readonly ng-model="order.realTotalAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10"  class="form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="realPayAmount" class="control-label">* 本次支付金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="realPayAmount" id="realPayAmount" readonly ng-model="order.realPayAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group" >
                                <label for="accountBalance" class="control-label">电子账户余额</label>
                                <div class="col-sm-4">
                                    <input type="text" readonly name="accountBalance"  id="accountBalance"  ng-model="order.accountBalance" class="input-sm form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="consumeAccountBalance" class="control-label">使用账户金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="consumeAccountBalance" id="consumeAccountBalance" ng-pattern="/^[1-9]\d*\b|0$/" ng-model="order.consumeAccountBalance" ng-maxlength="10"  class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="payDueAmount" class="control-label">* 尾款金额</label>
                                <div class="col-sm-4">
                                    <input type="text" name="payDueAmount" id="payDueAmount" readonly ng-model="order.payDueAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-maxlength="10" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- <div class="col-sm-4  form-group">
                                <label for="contractorPosition" class="control-label">*签约人岗位</label>
                                <div class="col-sm-4">
                                    <select ng-change="onContractorPositionSelect()" disabled ng-model="order.contractorPosition" name="contractorPosition" id="contractorPosition" class="input-sm form-control"
                                            ng-options="option.id as option.name for option in contractorPositions">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4  form-group">
                                <label for="contractor" class="control-label">*签约人</label>
                                <div class="col-sm-4">
                                    <select  ng-model="order.contractor" disabled name="contractor" id="contractor" class="input-sm form-control"
                                             ng-options="option.user.id as option.user.name for option in contractors">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-sm-4  form-group">
                                <label for="customerBelonger" class="control-label">*所属学习顾问</label>
                                <div class="col-sm-4">
                                    <select ng-model="order.customerBelonger" disabled name="customerBelonger" id="customerBelonger" class="input-sm form-control"
                                            ng-options="option.user.id as option.user.name for option in customerBelongers">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
						<div class="row" ng-if="order.orderCategory != 2">
							<div class="col-sm-4 form-group">
								<label for="averageCoursePrice" class="control-label">平均课时单价</label>
								<div class="col-sm-4 hk-top-7">
									{{averageCoursePrice}}
								</div>
							</div>
							<div class="col-sm-4 form-group">
								<label for="currentMonthPastCourse" class="control-label">本月消课课时量</label>
								<div class="col-sm-4 hk-top-7">
									{{currentMonthPastCourse}}
								</div>
							</div>
                            <div class="col-sm-4 form-group">
                                <label for="totalPastCourse" class="control-label">累计消课课时量</label>
                                <div class="col-sm-4 hk-top-7">
                                    {{totalPastCourse}}
                                </div>
                            </div>
						</div>
						<div class="row">
                            <div class="col-sm-4 form-group">
								<label for="totalPastCourseIncome" class="control-label">累计消课收入</label>
								<div class="col-sm-4 hk-top-7">
									{{totalPastCourse*averageCoursePrice | number:3}}
								</div>
							</div>
							<div class="col-sm-4 form-group">
								<label for="currentMonthPastCourseIncome" class="control-label">本月消课收入</label>
								<div class="col-sm-4 hk-top-7">
									{{currentMonthPastCourse*averageCoursePrice | number:3}}
								</div>
							</div>
							<div class="col-sm-4 form-group">
								<label for="extraAmount" class="control-label">合同剩余金额</label>
								<div class="col-sm-4 hk-top-7">
									{{order.realTotalAmount-totalPastCourse*averageCoursePrice | number:3}}
								</div>
							</div>
						</div>
                    </div>
                    <div class="mt-dashed mt-0"></div>
                    <h5 class="pl-20">业绩所属人</h5>
                    <div class="br-gray pl-0">
                    	  
                    	  <table class="table table-bordered table-striped mt-table1" st-table="order.orderAchievementRatios">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>岗位</th>
                                <th>校区</th>
                                <th>业绩计算比例</th>
                            </tr>
                            </thead>                    
                            <tr ng-repeat="row in order.achievementRatios">
                            	<th>{{row.userName}}</th>
                            	<th>{{row.position.name}}{{row.positionName}}</th>
                            	<th>{{row.departName}}</th>
                            	<th>
                            		<select class="input-sm form-control" disabled ng-model="row.achievementRatio" ng-change="changeRatio(row)" >
                            			<!--<option value=1 ng-selected="row.achievementRatio == 1">100%</option>-->
		                            	<!--<option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>-->
                                        <option value=1 ng-selected="row.achievementRatio == 1">100%</option>
                                        <option value=0.9 ng-selected="row.achievementRatio == 0.9">90%</option>
                                        <option value=0.8 ng-selected="row.achievementRatio == 0.8">80%</option>
                                        <option value=0.7 ng-selected="row.achievementRatio == 0.7">70%</option>
                                        <option value=0.6 ng-selected="row.achievementRatio == 0.6">60%</option>
                                        <option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>
                                        <option value=0.4 ng-selected="row.achievementRatio == 0.4">40%</option>
                                        <option value=0.3 ng-selected="row.achievementRatio == 0.3">30%</option>
                                        <option value=0.2 ng-selected="row.achievementRatio == 0.2">20%</option>
                                        <option value=0.1 ng-selected="row.achievementRatio == 0.1">10%</option>

                            		</select>
                            		
                            	</th>
                            </tr>
                          </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success hk-co-shoufei" ng-show="((order.orderStatus == 1 || order.orderStatus == 2) && order.orderType != 4) && (order.orderCategory && order.orderCategory!=2) " ng-if="showPermissions('OrderEdit')" ng-click="chargeOrder(order)">收费</button>
                    <button type="button" class="btn btn-success hk-co-xiugai" ng-show="((order.orderStatus == 1 || order.orderStatus == 2) && order.orderType != 4) && (order.orderCategory && order.orderCategory!=2) " ng-if="showPermissions('OrderEdit')" ng-click="editOrder(order)">修改</button>
                    <button type="button" class="btn btn-success hk-co-shenhe" ng-show="((order.orderStatus == 1 || order.orderStatus == 2) && order.orderType != 4) && (order.orderCategory && order.orderCategory!=2) " ng-if="showPermissions('OrderAudit')" ng-click="auditOrder(order)">审核</button>
                    <button type="button" class="btn btn-success hk-co-tuidan" ng-show="((order.orderStatus == 1 || order.orderStatus == 2) && order.orderType != 4) && (order.orderCategory && order.orderCategory!=2) " ng-if="showPermissions('OrderAudit')" ng-click="chargeBackOrder(order)">退单</button>
                    <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </div>
    </div>
</div>
<style>
lable{
    padding-top: 7px;
}
</style>
