<div class="modal orderModal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="OrderAddController">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <form name="addOrderForm" role="form" class="form-horizontal showcase-form" novalidate="">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind="modalNewCustomerAndOrderTitle"></h4>
                </div>
                <div class="modal-body mt-modal-order" >
                    <input type="hidden" id="createLead"  ng-model="order.createLead" value="1"/>
                        <div class="row ">
                            <div class="col-sm-4 form-group " ng-class="{ 'has-error': addOrderForm.leadName.$dirty && addOrderForm.leadName.$error.required}">
                                <label for="leadName" class="control-label">* 学生姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="1到20个字符"  ng-maxlength="20" ng-minlength="1" name="leadName" id="leadName"  ng-model="order.name" required class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="leadPhone" class="control-label">* 电话</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-blur="checkPhone()"  name="leadPhone" id="leadPhone" class="input-sm form-control" ng-model=" order.leadPhone" required="" ng-pattern="/^[0-9]*$/" ng-maxlength="11">
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="leadGradeId" class="control-label">* 年级</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.leadGradeId" name="leadGradeId" id="leadGradeId" class="form-control" ng-options="option.id as option.name for option in leadGradeIds" required>
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="leadMediaChannelId1" class="control-label">* 渠道</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.leadMediaChannelId1" name="leadMediaChannelId1" id="leadMediaChannelId1" class="form-control"
                                            ng-options="option.id as option.name for option in mediaChannel1List" ng-change="mediaChannel1Change()" required>
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" ng-if="mediaChannel2List.length > 0" >
                                <label for="leadMediaChannelId2" class="control-label">* 渠道详情</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.leadMediaChannelId2" name="leadMediaChannelId2" id="leadMediaChannelId2" class="form-control"
                                            ng-options="option.id as option.name for option in mediaChannel2List" required>
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mt-dashed"></div>
                        <div class="row ">
                            <div class="col-sm-4 form-group" >
                                <label for="orderNo" class="control-label">* 合同编号</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-readonly="order.nakedContract" ng-blur="orderNoExistCheck()"
                                           ng-pattern="/^[^\u4e00-\u9fa5]*$/"  ng-maxlength="40" name="orderNo" id="orderNo"  ng-model="order.orderNo"  class="input-sm form-control"/>
                                    <span ng-show="orderNoExist" class="has-error help-block">合同号重复，请在合同号前加cf录入</span>
                                    <input type="hidden" name="crmStudentId" id="crmStudentId"  ng-model="order.crmStudentId" />
                                </div>
                                <div class="col-sm-4" id="nakedContractTitle">
                                    <label for="nakedContract" class="radio-vr" ng-class="{'active':order.nakedContract}">无合同订单</label>
                                    <input type="checkbox" style="display: none" ng-change="clearOrderNo()" ng-value="1"
                                           id="nakedContract" name="nakedContract" ng-model="order.nakedContract">
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="name" class="control-label">* 学员姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" id="name" ng-model="order.name" placeholder="1到20个字符" ng-maxlength="20" ng-minlength="1" required class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="contractStartDate" class="control-label">* 签约时间</label>
                                <div class="col-sm-6">
                                    <input type="text" autocomplete="off" required datepicker onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onchange=""     value="{{order.contractStartDate | date:'yyyy-MM-dd' }}" name="contractStartDate" id="contractStartDate"  ng-model="order.contractStartDate" required  class="input-sm form-control"/>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group ">
                                <label for="contractEndDate" class="control-label">* 到期时间</label>
                                <div class="col-sm-6">
                                    <input type="text" autocomplete="off" required datepicker onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" onchange=""   value="{{order.contractEndDate | date:'yyyy-MM-dd' }}" name="contractEndDate" id="contractEndDate"  ng-model="order.contractEndDate" required class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" >
                                <label for="orderType2" class="control-label">* 订单类型</label>
                                <div class="col-sm-6">
                                    <select ng-model="order.orderType" name="orderType" id="orderType2" required  class="input-sm form-control">
                                        <option value="">-- 请选择 --</option>
                                        <option value="1">新签</option>
                                        <option value="2">续费</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4  form-group">
                            <label for="orderRule" class="control-label">* 课时规则</label>
                            <div class="col-sm-6">
                                 <select ng-model="order.orderRule" name="orderRule" ng-change="changeOrderRule()" id="orderRule" class="form-control" required>
                                    <option value="">-- 请选择 --</option>
                                    <option value="1">1小时</option>
                                    <option value="2">40分钟</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <div class="mt-dashed"></div>
                    <div>
                        <!--快捷查询-->
                        <div class="row" ng-controller="selectCourseController">
                            <div class="col-sm-12  form-group">
                                <label for="selectInput" class=" control-label c3">快速查询课程</label>
                                <div ng-controller="SmartyController" class="col-sm-6">
                                    <input id="selectInput" type="text" smarty-input select="setSelected(x)"
                                           style="padding-top: 0" ng-focus="inputfocused()"
                                           index="selected" list-items="suggestions" close="suggestionPicked()"
                                           class="input-sm form-control"
                                           selection-made="selectionMade" ng-model="prefix" placeholder="请输入"/>
                                    <div smarty-suggestions-box class="mt-smarty-box"></div>
                                </div>
                                <button class="btn guide-btn c1-lable br0 br-4 ti-0" ng-if="!showSingle"
                                        ng-click="selectCourse()">选择课程
                                </button>
                            </div>

                            <div class="modal-content col-sm-5 subject-body" ng-if="showSingle">
                                <span class="sj sj-base"></span>
                                <form name="addOrderForm" role="form" class="form-horizontal showcase-form" novalidate="">
                                    <ul class="subject-item of">
                                        <li ng-repeat="subject in subjectIdsModal"
                                            ng-click="setOneCourseSubject(chooseOne,subject)"
                                            ng-class="{true: 'c5-lable', false: ''}[isCheckedSubject(chooseOne,subject)]" w72="" index="$index">
                                            {{subject.name}}
                                        </li>

                                    </ul>
                                    <ul class="text-center of mt-layer-footer">
                                        <li class="fl width50"><a ng-click="doSelectOneCourse()">确定</a><span class="fr">&nbsp;</span></li>
                                        <li class="fl width50"><a ng-click="cancelSingle()">取消</a></li>
                                        <!--<button type="button" class="btn btn-success" ng-click="doSelectOneCourse()">
                                            确定
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="cancelSingle()">取消
                                        </button>-->
                                        <img ng-if="dataLoading"
                                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- 课程列表 -->
                    <div class="br-gray pl-0">
                        <table class="table table-bordered table-striped mt-table1" st-table="order.orderCourses" >
                            <thead>
                            <tr>
                                <th>课程ID</th>
                                <th>课程类型</th>
                                <th>年级</th>
                                <th>科目</th>
                                <th>性质</th>
                                <!--<th>标准单价</th>-->
                                <th>报价单单价</th>
                                <th>课时量</th>
                                <th>总价</th>
                                <!--<th>是否试听</th>-->
                                <th>试听老师</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr  ng-repeat="row in order.orderCourses">
                                <td>{{row.courseId}}</td>
                                <td>{{row.courseTypeName}} <br/><!--<a id= "crmClassName_{{$index}}" ng-click="selectCrmClass(row.courseId,$index)">选班</a>-->
                                    <a id="crmClassName_{{$index}}" ng-click="row.clickNow=!row.clickNow">选班</a><crm-class courseId="row.courseId" index="$index" selectCourseId="selectCourseId" selectIndex="selectIndex" ng-if="row.clickNow" order="order" ></crm-class>
                                </td>
                                <td>{{row.gradeName}}</td>
                                <td>{{row.subjectName}}</td>
                                <td ng-show="row.courseProperty == 1">正课</td>
                                <td ng-show="row.courseProperty == 2">赠课</td>
                                <td ng-show="row.courseProperty == 3">返课</td>
                                <td ng-show="row.courseProperty == 4">试听课</td>
                                <td ng-show="row.courseProperty == null || row.courseProperty == 0 ">其他</td>
                                <!--<td>{{row.standardPrice}}</td>-->
                                <td>
                                	<input type="hidden" ng-model="row.studentClassId" id="studentClassId_{{$index}}">
                                    <input type="text" ng-change="changeStandardPrice()" ng-pattern="doubleNumReg" ng-value="row.actualPrice" ng-model="row.actualPrice" placeholder="数字" ng-maxlength="6" ng-minlength="1" required class="input-sm form-control hk-input" ng-focus="isFocus($index,'actualPrice');" ng-blur="isBlur($index,'actualPrice');" />
                                </td>
                                <td>
                                    <input type="text" ng-change="changeStandardPrice()"  ng-pattern="intNumReg" ng-value="row.originalNum" ng-model="row.originalNum" placeholder="数字" ng-maxlength="4" ng-minlength="1" required class="input-sm form-control hk-input" ng-focus="isFocus($index,'originalNum');" ng-blur="isBlur($index,'originalNum');" />
                                </td>
                                <td>{{(row.actualPrice*row.originalNum||0.00) | number:2}}</td>
                                <!--<td ng-if="row.isCourseAudition == 1 ">是</td>
                                <td ng-if="row.isCourseAudition == 0 ">否</td>-->
                                <!--<td >{{row.isCourseAudition}}
                                    <select ng-model="row.isCourseAudition" name="row.isCourseAudition" id="row.isCourseAudition" class=" form-control" required
                                            ng-options="option.id as option.name for option in isCourseAuditionSelect">
                                    </select>
                                </td>-->
                                <td>
                                    <select  ng-model="row.teacherId" name="row.teacherId" class="input-sm form-control"
                                            ng-options="option.teacherId as option.teacherName for option in Teachers">
                                    </select>
                                </td>
                                <td><a ng-click="delOrderCourse(row)" title="删除"><span class="glyphicon glyphicon-delete"></span></a> </td>
                            </tr>
                            <tr>
                                <td>总计</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{order.totalOriginalNum }}</td>
                                <td>{{(order.totalPrice||0.00) | number:2}}</td>
                                <!--<td></td>-->
                                <td></td>
                                <td></td>
                            </tr>
                            <tr><td colspan="6"></td>
                            	<td colspan = "4">总时长：{{order.hours}}小时 {{order.minite}}分钟</td>
                            </tr>
                        </table>
                    </div>
                   <!--  <span class="exception">上海、苏州地区在课程单价处请按报价单的1.5倍录入</span> -->
                    <div class="mt-dashed mt-10"></div>
                    <!-- 订单课程汇总信息-->
                   <div class="label-85  label-110">
                       <div class="row">
                           <div class="col-sm-6 form-group" >
                               <label for="privilegeAmount2" class="control-label ">* 直减优惠</label>
                               <div class="col-sm-6">
                                   <input type="number" ng-change="resetPayCondition();" name="privilegeAmount" id="privilegeAmount2" ng-pattern="doubleNumReg0" ng-model="order.privilegeAmount" ng-maxlength="10" required class="input-sm form-control" />
                               </div>
                           </div>
                           <div class="col-sm-6 form-group" >
                               <label for="realTotalAmount" class="control-label">* 实际订单价格</label>
                               <div class="col-sm-6">
                                   <input type="text" readonly name="realTotalAmount" id="realTotalAmount" ng-pattern="/^[1-9]\d*\b|0$/" ng-value="order.totalPrice-order.privilegeAmount | number:2" ng-model="order.realTotalAmount" ng-maxlength="10" class="input-sm form-control"/>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6 form-group" >
                               <label for="accountBalance" class="control-label">电子账户余额</label>
                               <div class="col-sm-6">
                                   <input type="text" readonly name="accountBalance"  id="accountBalance"  ng-model="order.accountBalance" class="input-sm form-control" />
                               </div>
                           </div>
                           <div class="col-sm-6 form-group" >
                               <label for="consumeAccountBalance" class="control-label">使用账户金额</label>
                               <div class="col-sm-6">
                                   <input type="text" ng-change="resetPayCondition();" required  name="consumeAccountBalance" id="consumeAccountBalance" ng-pattern="/^[1-9]\d*\b|0$/" ng-model="order.consumeAccountBalance" ng-maxlength="10"  class="input-sm form-control"/>
                               </div>
                           </div>
                       </div>
                       <div class="row mt-btn-con">
                           <div class="col-sm-8 form-group">
                               <label for="payCondition" class="control-label">交费情况</label>
                               <div class="col-sm-8">
                                   <button type="button" class="btn" id="payType1" ng-click="seletPayCondition(1)">交清全款</button>
                                   <button type="button" class="btn" id="payType2" ng-click="seletPayCondition(2)">部分支付</button>
                                   <button type="button" class="btn" id="payType3" ng-click="seletPayCondition(3)">未交费用</button>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6 form-group" >
                               <label for="realPayAmount2" class="control-label">* 本次支付金额</label>
                               <div class="col-sm-6">
                                   <input type="text" name="realPayAmount" id="realPayAmount2" ng-pattern="/^[1-9]\d*\b|0$/" ng-value= "order.realPayAmount | number:2" ng-model="order.realPayAmount" ng-maxlength="10" required class="input-sm form-control" ng-disabled="PayDisabled"/>
                               </div>
                           </div>
                           <div class="col-sm-6 form-group" >
                               <label for="payDueAmount" class="control-label ">* 尾款金额</label>
                               <div class="col-sm-6">
                                   <input type="text" readonly ng-value="(order.totalPrice-order.privilegeAmount-order.realPayAmount) | number:2" ng-pattern="/^[1-9]\d*\b|0$/" name="payDueAmount" required id="payDueAmount" ng-maxlength="10" class="input-sm form-control" />
                               </div>
                           </div>
                       </div>
                       <!-- <div class="row">
                           <div class="col-sm-6 form-group">
                               <label for="contractorPosition" class="control-label ">*签约人岗位</label>
                               <div class="col-sm-6">
                                   <select ng-change="onContractorPositionSelect()" required ng-model="order.contractorPosition" name="contractorPosition" id="contractorPosition" class="input-sm form-control"
                                           ng-options="option.id as option.name for option in contractorPositions">
                                       <option value="">-- 请选择 --</option>
                                   </select>
                               </div>
                           </div>
                           <div class="col-sm-6 form-group " ng-if="order.contractorPosition">
                               <label for="contractor" class="control-label">*签约人</label>
                               <div class="col-sm-6">
                                   <select  ng-model="order.contractor" required name="contractor" id="contractor" class="input-sm form-control"
                                            ng-options="option.user.id as option.user.name for option in contractors">
                                       <option value="">-- 请选择 --</option>
                                   </select>
                               </div>
                           </div>
                       </div> -->
                   </div>
                  <div class="mt-dashed mt-0"></div>
                    <h5 class="pl-20">业绩所属人</h5>
                    <div class="br-gray pl-0">
                    	  
                    	  <table class="table table-bordered table-striped mt-table1" st-table="order.orderAchievementRatios">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>岗位</th>
                                <th>校区</th>
                                <th>业绩计算比例</th>
                                <th>操作</th>
                            </tr>
                            </thead>                    
                            <tr ng-repeat="row in order.achievementRatios">
                            	<th>{{row.userName}}</th>
                            	<th>{{row.position.name}}{{row.positionName}}</th>
                            	<th>{{row.departName}}</th>
                            	<th>
                            		<select class="input-sm form-control" ng-model="row.achievementRatio" ng-change="changeRatio(row)" >
                            			<!--<option value=1 ng-selected="row.achievementRatio == 1">100%</option>-->
		                            	<!--<option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>-->
                                        <option value=1 ng-selected="row.achievementRatio == 1">100%</option>
                                        <option value=0.9 ng-selected="row.achievementRatio == 0.9">90%</option>
                                        <option value=0.8 ng-selected="row.achievementRatio == 0.8">80%</option>
                                        <option value=0.7 ng-selected="row.achievementRatio == 0.7">70%</option>
                                        <option value=0.6 ng-selected="row.achievementRatio == 0.6">60%</option>
                                        <option value=0.5 ng-selected="row.achievementRatio == 0.5">50%</option>
                                        <option value=0.4 ng-selected="row.achievementRatio == 0.4">40%</option>
                                        <option value=0.3 ng-selected="row.achievementRatio == 0.3">30%</option>
                                        <option value=0.2 ng-selected="row.achievementRatio == 0.2">20%</option>
                                        <option value=0.1 ng-selected="row.achievementRatio == 0.1">10%</option>
                            		</select>
                            		
                            	</th>
                            	<th>
                            		<!-- <a ng-click="showEditRatio(row)"><span class="glyphicon glyphicon-pencil" title="编辑"></span></a> -->
                                    <a ng-click="removeRatio(row)"> <span class="glyphicon glyphicon-delete" title="删除"></span></a>
                            	</th>
                            </tr>
                          </table>
                         
                    </div>
                    <div>
                    	  <h3 class="h3-o2o f14 pl-20 of" style="margin-top: 10px">
                               <a ng-click="showAddAchievementRatio()" class="yws-left width10 add-a">添加</a>
                          </h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  ng-click="$hide()">取消</button>
                    <!--<button type="button" class="btn btn-success" ng-if="addOrderForm.$valid"  ng-click="saveOrder()">保存2</button>-->
                    <button type="button" class="btn btn-success c5-lable" ng-disabled="addOrderForm.$invalid || order.ratioInvalid"  ng-click="saveNewOrder()">保存</button><!-- -->
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </div>
    </div>
</div>
<!--<style>-->
    <!--.col-sm-6{-->
        <!--padding-top: 10px;-->
    <!--}-->
   <!--.form-horizontal .control-label{-->
    <!--padding-top: 17px;-->
   <!--}-->


<!--</style>-->
<script type="text/javascript">
    window.load = pause();
    function pause(){
        var node = $("#privilegeAmount2");
        var content = '订单中要减去的金额，总价 -直减优惠 = 实际订单价格';
        node.webuiPopover({content:content,trigger:'hover'});

        var node2 = $("#realPayAmount2");
        var content2 = '实际订单价格 - 本次支付金额 = 尾款金额';
        node2.webuiPopover({content:content2,trigger:'hover'});

        var node3 = $("#addOrderCourse");
        var content3 = '可以多次提交课程';
        node3.webuiPopover({content:content3,trigger:'hover'});

        var node4 = $("#customerBelonger");
        var content4 = '询问校长或运营主管';
        node4.webuiPopover({content:content4,trigger:'hover'});

        var node5 = $("#nakedContractTitle");
        var content5 = '此选项只可在创建订单时修改选中状态，订单一旦提交则无法修改。';
        node5.webuiPopover({content:content5,trigger:'hover'});

        var node6 = $("#orderType2");
        var content6 = '学习顾问推荐学员，录入推荐订单时，请选择“新签”类型。系统会以学员信息中的渠道来源--“学习顾问推荐”的来界定业绩。';
        node6.webuiPopover({content:content6,trigger:'hover'});
    }/**/
</script>