.project
.metadata/
.settings/
.classpath
*.log
logs/*
!.gitkeep
node_modules/
tmp
.idea/*
.DS_Store
angular-phonecat-snapshots
bower_components/
bin/
.project
package.json
app/partials/sos/order/auditTransferBackNew.html
app/js/serverInit.js
