<div class="modal hr-employee-role-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind="modalTitle"></h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="id">员工编号 ： </label>
                            <basefont id="id" ng-model="employee_role.id">{{employee_role.id}}</basefont>
                        </div>
                    <div class="form-group">
                        <label for="name">员工姓名 ： </label>
                        <basefont id="name" ng-model="employee_role.name">{{employee_role.name}}</basefont>
                    </div>
                    <div class="form-group">
                        <label for="departmentName">所属部门 ： </label>
                        <basefont id="departmentName" ng-model="employee_role.departmentName">{{employee_role.departmentName}}</basefont>
                    </div>
                    <div class="form-group">
                        <label for="positionName">所属岗位 ： </label>
                        <basefont id="positionName" ng-model="employee_role.positionName">{{employee_role.positionName}}</basefont>
                    </div>
                    <h5>角色设置</h5>
                    <hr>
                    <div>
                      <span ng-repeat="role in roles track by $index" class="role-checkbox">
                        <label><input type="checkbox" ng-click="toggleRole(role)"
                                      ng-checked="containsRole(role)">
                            {{role.displayName}}
                        </label>
                      </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                    <button type="button" class="btn btn-success c5-lable" ng-click="save()">保存</button>
<!--
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
-->
                </div>
            </form>
        </div>
    </div>
</div>
