<div class="modal hr-employees-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 760px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="addModalTitle"></h4>
            </div>
            <form name="form">
            <div class="modal-body form-horizontal">
             	<div>
                    <label for="partFull" class="">兼职/全职</label>
                    <select ng-model="employee.partFull" name="partFull" id="partFull"
                            class="" ng-options="tl.id as tl.name for tl in dictData.partFull" required ng-change="changePart()">
                        <option value="" >------请选择------</option>
                    </select>
                    	请先选择（兼职/全职） 属性，再去补全其他信息
                </div>
                <div class="modal-tabs" ng-if="employee.partFull != undefined">
                    <tabs>
                        <pane ng-repeat="tab in addTabs track by $index| orderBy : 'id'" title="{{tab.title}}" flag="{{tab.flag}}">
                            <div ng-include="tab.template"></div>
                        </pane>
                    </tabs>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success c5-lable" ng-click="saveEmployee()" ng-disabled="form.$invalid">保存</button>
                <button class="btn btn-default" ng-click="hideAddView()" >取消</button>
            </div>
            </form>
        </div>
    </div>
</div>

