<!-- 筛选条件 -->
<div ng-include="baseHtmlUrl" style="padding: 0px 15px"></div>

<!-- 表格 -->
<div class="default-box">
    <h4>
                        区域业绩目标进度
        <span ng-if="!isDay">（从 {{modelStartTime | date : 'yyyy-MM-dd'}} 至 {{modelEndTime | date : 'yyyy-MM-dd'}}）</span>
        <span ng-if="isDay">（{{modelEndTime | date : 'yyyy-MM-dd'}}）</span>
        <span ng-if="presentTime">最新统计时间：{{presentTime}}</span>
        <button class="btn btn-success bi-list-head" ng-click="exportSummaryToExcel()">导出列表</button>
    </h4>
    <br/>
    <div class="table-responsive">
        <table st-pipe="getSummary" st-table="tableModel" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="font-weight: bold;">区域/校区</th>
                <th class="bi-th1" style="font-weight: bold;" data-content="营销数据的月实收金额/校长目标录入的营销实收目标以所选择时间的月份为单位"
                	data-placement="top" webui-popover>营销实收完成率（月）</th>
                <th class="bi-th1" style="font-weight: bold;" data-content="目标实收-实际实收=目标差额"
                	data-placement="top" webui-popover>目标差额</th>
                <th class="bi-th2" style="font-weight: bold;" data-content="学管数据的月实收金额/校长目标录入的学管实收目标以所选择时间的月份为单位"
                	data-placement="top" webui-popover>学管实收完成率（月）</th>
                <th class="bi-th2" style="font-weight: bold;" data-content="目标实收-实际实收=目标差额"
                	data-placement="top" webui-popover>目标差额</th>
                <th class="bi-th4" style="font-weight: bold;" data-content="营销数据的月实收金额+学管数据的月实收金额）/（校长目标录入的营销实收目标+校长目标录入的学管实收目标）以所选择时间的月份为单位"
                	data-placement="top" webui-popover>总实收完成率（月）</th>
                <th class="bi-th4" style="font-weight: bold;" data-content="目标实收-实际实收=目标差额"
                	data-placement="top" webui-popover>目标差额</th>
                <th class="bi-th3" style="font-weight: bold;" data-content="消课课时（月）/校长目标录入的消课课时目标以所选择时间的月份为单位"
                	data-placement="top" webui-popover>消课课时完成率（月）</th>
                <th class="bi-th3" style="font-weight: bold;" data-content="目标实收-实际实收=目标差额"
                	data-placement="top" webui-popover>目标差额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{selectdDepartment.name}}</td>
                <td>{{summaryModel.marketRatio}}</td>
                <td ng-class="{'font-red':summaryModel.marketBalance>0, 'font-green':summaryModel.marketBalance<0}"><span ng-if="summaryModel.marketBalance>0">+</span>{{summaryModel.marketBalance}}</td>
                <td>{{summaryModel.managementRatio}}</td>
                <td ng-class="{'font-red':summaryModel.managementBalance>0, 'font-green':summaryModel.managementBalance<0}"><span ng-if="summaryModel.managementBalance>0">+</span>{{summaryModel.managementBalance}}</td>
                <td>{{summaryModel.totalRatio}}</td>
                <td ng-class="{'font-red':summaryModel.totalBalance>0, 'font-green':summaryModel.totalBalance<0}"><span ng-if="summaryModel.totalBalance>0">+</span>{{summaryModel.totalBalance}}</td>
                <td>{{summaryModel.consumeRatio}}</td>
                <td ng-class="{'font-red':summaryModel.consumeBalance>0, 'font-green':summaryModel.consumeBalance<0}"><span ng-if="summaryModel.consumeBalance>0">+</span>{{summaryModel.consumeBalance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
