<div class="table-responsive" style=" overflow-y:hidden">
	<!-- 表格  -->
    <table st-pipe="getStatistics" st-table="schoolManagementPerformences" class="table table-bordered table-striped" 
    	ng-if="channelTab === '2'">
        <thead>
        <tr>
        	<td style="font-weight: bold;">排名
        	<td style="font-weight: bold;">姓名</td>
        	<td style="font-weight: bold;">岗位</td>
        	<td ng-if="！isSchoolUser" style="font-weight: bold;">所属校区</td>
        	<td style="font-weight: bold;" data-content="指定周期内推荐学员签单且无退单记录的订单数总和" 
        		data-placement="top" webui-popover>签单数</td>
        	<td style="font-weight: bold;" data-content="指定周期内推荐学员签单且无退单记录的订单金额总和(订单金额是已优惠后的金额)" 
        		data-placement="top" webui-popover>签单金额</td>
        	<td style="font-weight: bold;" data-content="指定周期内推荐学员签单且无退单记录的实际订单金额总和(订单金额是已优惠后的金额)" 
        		data-placement="left" webui-popover>实收金额</td>
        </tr>
        </thead>
        <tbody>
	        <tr ng-repeat="model in statisticsModels">
	         	<td>{{$index+1+statisticsTableState.pagination.start}}</td>
	         	<td>{{model.userName}}</td>
	         	<td>{{model.positionName}}</td>
	         	<td ng-if="!isSchoolUser">{{model.schoolName}}</td>
	         	<td>{{model.orderCount}}</td>
	         	<td>{{model.orderAmount}}</td>
	         	<td>{{model.orderRealAmount}}</td>
	        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="13" class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" >
                </td>
            </tr>
        </tfoot>
    </table>
</div>