<div class="view-frame" ng-controller="InfoController as cmc">
    <div class="view-left"><!-- ng-include="'partials/common/common.indexLeft.html'"-->
        <nav-side menu-data="menu.subMenu"></nav-side>
    </div>

    <div class="view-content">
        <!-- 面包屑 -->
        <div>
            <div>
                <ul class="breadcrumb">
                    <li><a href="#/">首页</a> <span class="divider"></span></li>
                    <li><a href="#/o2o-admin">O2O管理系统</a> <span class="divider"></span></li>
                   <!--  <li><a ng-click="showListView()">轮播管理</a> <span class="divider"></span></li> -->
                    <li class="active">轮播管理</li>
                </ul>
            </div>
        </div>
        <div class="mt-o2o margin-top-10">
            <div class="tabs-title br-gray-t c3">
                轮播管理<i>?</i>
            </div>
            <div class="br-gray pl-0">
             <tabs>
                <pane title="学生端">
                <table  class="table table-bordered table-striped table-condensed mt-table1 br0" st-pipe="getBannerList" st-table="bannerList">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>轮播标题</th>
                        <th >轮播链接</th>
                        <!-- <th>创建时间</th> -->
                        <th>更新时间</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                        <!--
                        <th>状态</th>
                        <th>配置</th>-->
                    </tr>
                    </thead>
                    <tbody ng-show="!isBannerLoading">
                    <tr ng-repeat="row in bannerList track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{row.name}}</td>
                        <td  style="width:500px;word-wrap:break-word;word-break:break-all;display:block;overflow: hidden ;"><a  href={{row.link}} target="_blank">{{row.link}}</a></td>
                        <!-- <td>{{row.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td> -->
                        <td>{{row.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><input id="dataSort" type="number" class="mt-sort-input"  ng-model="row.sort" data-sort="{{row.sort}}" ng-change="changeSort(row,$index)" ng-pattern="/^[0-9]*$/" ng-maxlength="10"/></td>
                        <td><span ng-if="row.state == true">打开</span>
                            <span ng-if="row.state == false">关闭</span></td>
                        <td>
                            <a class="showUI" id="nw+{{$index}}"  ng-click="nw[$index]=true"><span class="glyphicon glyphicon-caozuo" title="操作"></span></a>
                            <bubble  ng-if="nw[$index]" for="nw+{{$index}}" align="bottom" close="nw[$index]=false" close-action="outerchick " ng-mouseleave="nw[$index]=false;"><!--ng-mouseleave="nw[$index]=false;"-->
                                <ul>
                                    <li>
                                        <a ng-click="changState(row)" ng-if="showPermissions('BannerManagement')">
                                            <span ng-if="row.state == true">关闭</span>
                                            <span ng-if="row.state == false">打开</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="showBannerUpdateModal(row)" ng-if="showPermissions('BannerManagement')">
                                            编辑
                                        </a>
                                    </li>
                                </ul>
                            </bubble>

                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isBannerLoading">
                    <tr>
                        <td colspan="7" class="text-center"><div class="loading-indicator"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </pane>
                 <pane title="教师端">
                <table  class="table table-bordered table-striped table-condensed mt-table1 br0" st-pipe="getTBannerList" st-table="TeacherBannerList">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>轮播标题</th>
                        <th >轮播链接</th>
                        <!-- <th>创建时间</th> -->
                        <th>更新时间</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                        <!--
                        <th>状态</th>
                        <th>配置</th>-->
                    </tr>
                    </thead>
                    <tbody ng-show="!isBannerLoading">
                    <tr ng-repeat="row in TeacherBannerList track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{row.name}}</td>
                        <td style="width:500px;word-wrap:break-word;word-break:break-all;display:block;overflow: hidden ;" ><a  href={{row.link}} target="_blank">{{row.link}}</a></td>
                        <!-- <td>{{row.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td> -->
                        <td>{{row.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><input id="dataSort" type="number" class="mt-sort-input"  ng-model="row.sort" data-sort="{{row.sort}}" ng-change="changeSort_teacher(row,$index)" ng-pattern="/^[0-9]*$/" ng-maxlength="10"/></td>
                        <td><span ng-if="row.state == true">打开</span>
                            <span ng-if="row.state == false">关闭</span></td>
                        <td>
                            <a class="showUI" id="nw1+{{$index}}"  ng-click="nw1[$index]=true"><span class="glyphicon glyphicon-caozuo" title="操作"></span></a>
                            <bubble  ng-if="nw1[$index]" for="nw1+{{$index}}" align="bottom" close="nw1[$index]=false" close-action="outerchick " ng-mouseleave="nw1[$index]=false;"><!--ng-mouseleave="nw[$index]=false;"-->
                                <ul>
                                    <li>
                                        <a ng-click="changState(row)" ng-if="showPermissions('BannerManagement')">
                                            <span ng-if="row.state == true">关闭</span>
                                            <span ng-if="row.state == false">打开</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="showBannerUpdateModal(row)" ng-if="showPermissions('BannerManagement')">
                                            编辑
                                        </a>
                                    </li>
                                </ul>
                            </bubble>

                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isBannerLoading">
                    <tr>
                        <td colspan="7" class="text-center"><div class="loading-indicator"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </pane>
                </tabs>
            </div>
        </div>
    </div>
</div>
