<div class="view-frame" ng-controller="BiBaseController">
    <div class="view-left">
        <div ng-include="'partials/common/common.indexLeft.html'"></div>
    </div>

    <div class="view-content" ng-controller="BiCourseAdvisorProcessController">
	    <div>
		    <ul class="breadcrumb">
		        <li><img ng-src="img/icon/bi/yingxiao.png" src="img/icon/bi/yingxiao.png"> 营销报表<span class="divider"></span></li>
		        <li class="active">课程顾问业绩</li>
		    </ul>
		</div>
        <div ng-include="'partials/bi/biCourseAdvisorProcess/biCourseAdvisorProcess.statistics.html'"></div>
    </div>
</div>
