<style>
    .unChrome-foot{
        width: 100%;
        background-color: #fc990a;
        position: fixed;
        bottom: 0;
        height: 80px;
    }
</style>
<div class="navbar navbar-default ng-scope">
    <div id="navbar" class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li><img src="img/main/logo.png" class="s_logo"></li>
        </ul>
    </div>
    <div style="top: 40%; width: 100%; height: 150px; text-align: center; font-size: 40px; position: absolute;">
        抱歉我们暂不支持该版本的浏览器<br>
        请您使用Chrome、360极速浏览器等浏览器访问本站。<br>
        <a id="ChromeUrl" style="font-size: 16px;text-decoration:underline" href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandalone_V45.0.2454.99_Setup.1442891522.exe">Chrome浏览器下载</a>
        <a  style="font-size: 16px;text-decoration:underline;padding-left: 100px" href="http://down.360safe.com/cse/360cse_8.5.0.140.exe">360极速浏览器</a>
    </div>
    <div class="unChrome-foot"></div>
</div>
