<div class="workbench-container" ng-controller="workbench.hujiaoCtrl as hjc">
    <!--包括图表和快速链接-->
    <div class="yws-container">
        <!--图表-->
        <div class="yws-left  workbench-chart">
            <div class="workbench-chart-container" >
                <tabs>
                    <pane title="个人数据"  >
                        <div class="yws-container {{osc.classDataType}}" title=""  style="background-color: #FFFFFF" ng-controller="workbench.hujiao.oneSelfCtrl as osc">
                            <!--饼图模块-->
                            <div class="pie-chart">
                                <div class="pie-chart-container">
                                    <div class="chart-top">
                                        <div class="yws-left">
                                            <button type="button" ng-click=" selectedCycle(osc.classDataType+' .pie-chart .chart-top .yws-left','day', getPieDate,osc)" class="btn btn-success cycle-day chart-active">日</button>
                                            <button type="button" ng-click=" selectedCycle(osc.classDataType+' .pie-chart .chart-top .yws-left','week', getPieDate,osc)" class="btn btn-success cycle-week">周</button>
                                            <button type="button" ng-click=" selectedCycle(osc.classDataType+' .pie-chart .chart-top .yws-left','month', getPieDate,osc)" class="btn btn-success cycle-month">月</button>
                                        </div>
                                    </div>
                                    <div class="yws-container chart-content" ng-if="!osc.views.isShowDetail">
                                        <div class="yws-left cir-container"><div class="pie-circular circular-cfj1"><div class="circular-title" ng-bind=" osc.views.pieData.visitCount"></div></div><div class="cir-bottom">到访数</div></div>
                                        <div class="yws-left cir-container"><div class="pie-circular circular-cfj2"><div class="circular-title" ng-bind=" osc.views.pieData.tiyanCount"></div></div><div class="cir-bottom">体验数</div></div>
                                        <!--<div class="yws-left cir-container"><div class="pie-circular circular-cfj3"><div class="circular-title" ng-bind=" osc.views.pieData.signedCount"></div></div><div class="cir-bottom">签单数</div></div>
                                        <div class="yws-left cir-container"><div class="pie-circular circular-cfj4"><div class="circular-title" ng-bind=" osc.views.pieData.signedMoney"></div></div><div class="cir-bottom">签单金额</div></div>-->
                                    </div>
                                    <div class="yws-container" ng-if="osc.views.isShowDetail">
                                        <h2>明细</h2>
                                    </div>
                                    <div class="chart-foot yws-container">
                                        <div class="update-time yws-right">{{osc.views.updateTimeDsc}}</div>
                                    </div>
                                </div>
                                <div class="mt-center"></div>
                            </div>
                            <!--折线图模块-->
                            <div class="line-chart">
                                <div class="line-chart-container">
                                    <div ng-if="!osc.views.isShowTop10">
                                        <div class="chart-top">
                                            <div class="yws-left">
                                                <button type="button" ng-click=" selectedCycle(osc.classDataType+' .line-chart .chart-top','week', getLineDateByCycle,osc)" class="btn btn-success cycle-week chart-active">周</button>
                                                <button type="button" ng-click=" selectedCycle(osc.classDataType+' .line-chart .chart-top','month', getLineDateByCycle,osc)"  class="btn btn-success cycle-month">月</button>
                                            </div>
                                            <div class="yws-right">
                                                <button type="button" ng-click="ifShowTop10(true,osc)"  class="btn btn-success cycle-month">10强排名</button>
                                            </div>

                                        </div>
                                        <div class="yws-container line-container">
                                            <div class="chart-button-left yws-left">
                                                <button class="but-count yws-lef line-visit-count chart-active" ng-click=" selectedCount(osc.classDataType+' .chart-button-left','visitCount',getLineDateByCount,osc)">到访数</button>
                                                <button class="but-count yws-lef line-tiyan-count" ng-click=" selectedCount(osc.classDataType+' .chart-button-left','tiyanCount',getLineDateByCount,osc)">体验数</button>
                                                <!--<button class="but-count yws-lef line-signed-count" ng-click=" selectedCount(osc.classDataType+' .chart-button-left','signedCount',getLineDateByCount,osc)">签单数</button>
                                                <button class="but-count yws-lef line-signed-money" ng-click=" selectedCount(osc.classDataType+' .chart-button-left','signedMoney',getLineDateByCount,osc)">签单金额</button>-->
                                            </div>
                                            <div class="yws-container yws-content">
                                                <line-chart ng-if="!osc.views.isLineMonth" config="config" data=" osc.views.lineData"></line-chart>
                                                <line-chart ng-if="osc.views.isLineMonth" config="config" data=" osc.views.lineMonthData"></line-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="osc.views.isShowTop10">
                                        <div>
                                            <div class="chart-top">
                                                <div class="yws-left">
                                                    <button type="button" ng-click="ifShowTop10(false,osc)"  class="btn btn-success cycle-month">返回</button>
                                                </div>
                                                <div class="yws-right">
                                                    我的排名：{{osc.rank}}名
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive" style="overflow:scroll;overflow-y:hidden">
                                            <table class="table table-bordered table-striped"  st-pipe="osc.callDataTop10" st-table="osc.dataTop10" >
                                                <thead>
                                                <tr>
                                                    <th>排名</th>
                                                    <th>名称</th>
                                                    <th>所属校区</th>
                                                    <th st-sort="tiyan">体验数</th>
                                                    <!--<th st-sort="qidan">签单数</th>
                                                    <th st-sort="jine">签单金额</th>-->
                                                </tr>
                                                </thead>
                                                <tbody >
                                                <tr ng-repeat="row in osc.dataTop10 track by $index">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{row.userName}}</td>
                                                    <td>{{row.deptName}}</td>
                                                    <td>{{row.tiYanShu}}</td>
                                                    <!--<td>{{row.qianDanShu}}</td>
                                                    <td>{{row.qianDanJinEr}}</td>-->
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </pane>
                </tabs>
            </div>

        </div>
        <!--快速链接-->
        <div class="yws-right workbench-links">
            <div class="links-top">
                快速链接
            </div>
            <div class="links-content ">
                <li><a href="#/sos-admin/leads_student">leads管理<img  src="img/workbench/jiantou-right.png" ></a></li>
                <li><a href="#/sos-admin/invitationDetail">邀约管理<img  src="img/workbench/jiantou-right.png" ></a></li>
                <!--
                                <li><a href="#/sos-admin/course_plan">排课管理<img  src="img/workbench/jiantou-right.png" ></a></li>
                -->

            </div>
            <div class="links-bottom"></div>
        </div>
    </div>

    <!--提醒模块-->
    <div class="yws-container workbench-warn mt-workbench-warn">
        <div class="warn-title">
            <span class="c3 f16 bt2">日程提醒</span>
        </div>
        <div class="warn-content mt-title">
            <tabs>
                <pane title="信息提醒" >
                    <div class="table-responsive table-margin-20" >
                        <div class="table-title">信息提醒列表</div>
                        <table class="table table-bordered table-striped mt-table1"  st-pipe="callInfoWarn"  st-table="hjc.infoWarn">
                            <thead>
                            <tr>
                                <th>提醒时间</th>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>提醒内容</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="row in hjc.infoWarn">
                                <td>{{row.remindTime | date:'yyyy-MM-dd HH:mm' }}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.phone}}</td>
                                <td>{{row.remindContent}}</td>
                                <td><a ng-click="toLeadsOrStudent(row)"  class="ng-scope"><span class="glyphicon glyphicon-plus" title="详情"></span></a></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="24"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </pane>
                <pane title="到访提醒" >
                    <div class="table-responsive table-margin-20" >
                        <div class="table-title">到访提醒列表</div>
                        <table class="table table-bordered table-striped"  st-pipe="callVisitWarn"  st-table="hjc.visitWarn">
                            <thead>
                            <tr>
                                <th>学员姓名</th>
                                <th>电话</th>
                                <th>渠道来源</th>
                                <th>来源详情</th>
                                <th>邀约时间</th>
                                <th>预到访时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="row in hjc.visitWarn">
                                <td>{{row.name}}</td>
                                <td>{{row.phone}}</td>
                                <td>{{row.channel1Name}}</td>
                                <td>{{row.channel2Name}}</td>
                                <td >{{row.invitateTime | date:'yyyy-MM-dd' }}</td>
                                <td >{{row.receiveTime | date:'yyyy-MM-dd' }}</td>
                                <td><a ng-click="toLeadsOrStudent(row)"  class="ng-scope"><span class="glyphicon glyphicon-plus" title="详情"></span></a></td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="24"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </pane>
                <!-- <pane title="上课提醒" >
                     <div class="table-responsive table-margin-20" >
                         <table class="table table-bordered table-striped"  st-pipe="callCourseWarn"  st-table="hjc.courseWarn">
                             <thead>
                             <tr>
                                 <th>学员姓名</th>
                                 <th>一对多名称</th>
                                 <th>电话</th>
                                 <th>课程名称</th>
                                 <th>科目</th>
                                 <th>上课时间</th>
                                 <th>下课时间</th>
                                 <th>上课课时</th>
                                 <th>任课老师</th>
                             </tr>
                             </thead>
                             <tbody >
                             <tr ng-repeat="row in hjc.courseWarn">
                                 <td>{{row.student_name}}</td>
                                 <td>{{row.crm_order_student_course_id}}</td>
                                 <td>{{row.phone}}</td>
                                 <td ng-if="row.type==3">试听课</td>
                                 <td ng-if="row.type!=3">{{row.coursename}}</td>
                                 <td>{{row.subject_name}}</td>
                                 <td>{{row.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{row.end_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{row.course_num}}</td>
                                 <td>{{row.teacher_name}}</td>
                             </tr>
                             </tbody>
                             <tfoot>
                             <tr>
                                 <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="24"></td>
                             </tr>
                             </tfoot>
                         </table>
                     </div>
                 </pane>-->
                <!-- <pane title="续费提醒" >
                     <div class="table-responsive table-margin-20" >
                         <table class="table table-bordered table-striped"  st-pipe="callXufeiWarn"  st-table="hjc.xufeiWarn">
                             <thead>
                             <tr>
                                 <th>姓名</th>
                                 <th>联系方式</th>
                                 <th>在读状态</th>
                                 <th>剩余课时</th>
                                 <th>操作</th>
                             </tr>
                             </thead>
                             <tbody >
                             <tr ng-repeat="row in hjc.xufeiWarn">
                                 <td>{{row.name}}</td>
                                 <td>{{row.phone}}</td>
                                 <td ng-if="row.status == 1">在读</td>
                                 <td ng-if="row.status == 2">结课</td>
                                 <td ng-if="row.status == 3">停课</td>
                                 <td ng-if="row.status == 4">退费</td>
                                 <td ng-if="row.status == 5">转课</td>
                                 <td ng-if="row.status == null"></td>
                                 <td>{{row.course_num}}</td>
                                 <td>操作</td>
                             </tr>

                             </tbody>
                             <tfoot>
                             <tr>
                                 <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="24"></td>
                             </tr>
                             </tfoot>
                         </table>
                     </div>
                 </pane>
                 <pane title="试听提醒" >
                     <div class="table-responsive table-margin-20" >
                         <table class="table table-bordered table-striped"  st-pipe="callListenWarn"  st-table="hjc.listenWarn" >
                             <thead>
                             <tr>
                                 <th>学员姓名</th>
                                 <th>电话</th>
                                 <th>课程名称</th>
                                 <th>科目</th>
                                 <th>上课时间</th>
                                 <th>下课时间</th>
                                 <th>上课课时</th>
                                 <th>任课老师</th>
                             </tr>
                             </thead>
                             <tbody >
                             <tr ng-repeat="row in hjc.listenWarn">
                                 <td>{{row.student_name}}</td>
                                 <td>{{row.phone}}</td>
                                 <td ng-if="row.type==3">试听课</td>
                                 <td ng-if="row.type!=3">{{row.coursename}}</td>
                                 <td>{{row.subject_name}}</td>
                                 <td>{{row.start_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{row.end_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                 <td>{{row.course_num}}</td>
                                 <td>{{row.teacher_name}}</td>
                             </tr>

                             </tbody>
                             <tfoot>
                             <tr>
                                 <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="24"></td>
                             </tr>
                             </tfoot>
                         </table>
                     </div>
                 </pane> -->

            </tabs>
        </div>
    </div>

</div>
