<div class="view-frame">
    <div class="view-left">
<!--        <ul id="main-nav" class="nav nav-tabs nav-stacked">
            <li ng-if="showPermissions('PermissionManagement')">
                <a data-target="#权限管理"  class="nav-header menu-first collapsed" data-toggle="collapse" >
                    <i class="glyphicon glyphicon-cog"></i>
                    权限管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul id="权限管理" class="nav nav-list secondmenu collapse in">
                    <li ng-if="showPermissions('PermissionManagement')"><a href="#/system-admin/permission"><i class="glyphicon glyphicon-star"></i>权限管理</a></li>
                </ul>
            </li>
            <li ng-if="showPermissions('RoleManagement')">
                <a data-target="#角色管理"  class="nav-header menu-first collapsed" data-toggle="collapse" >
                    <i class="glyphicon glyphicon-cog"></i>
                    角色管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul id="角色管理" class="nav nav-list secondmenu collapse in">
                    <li ng-if="showPermissions('RoleManagement')"><a href="#/system-admin/role"><i class="glyphicon glyphicon-star"></i>角色管理</a></li>
                </ul>
            </li>
        </ul>-->
        <nav-side menu-data="menu.subMenu"></nav-side>
    </div>

    <div class="view-content ">
        <img class="width100" src="img/main/index-ground.jpg" >
        <h2 class="index-h2">欢迎进入系统管理模块！ </h2>
    </div>
</div>
