<div class="modal orderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog form-horizontal hk-call-name-course" style="width:500px;min-width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-if="back == 'back'">您确定返回本部门吗？</h4>
                <h4 class="modal-title" ng-if="!back">您确定切换到【{{toJumpSchoolName}}】吗？</h4>
            </div>
            <div class="modal-body mt-modal-order" style="text-align:center;">
                <input type="password" ng-model="switchSchoolPassword" placeholder="请输入您的登陆密码完成跳转" style="width:200px; height:40px;">
            </div>
            <div class="modal-footer" style="display:flex;">
                <button type="button" style="flex:1; margin:10px 40px;" class="btn btn-success hk-co-shenhe" ng-click="submitSwitchScholl(switchSchoolPassword)">确认</button>
                <button type="button" style="flex:1;margin:10px 40px; padding:8px 0;" class="btn btn-default" ng-click="$hide()">取消</button>

            </div>
        </div>
    </div>
</div>
<style>

</style>