<!-- 筛选条件 -->
<div ng-include="baseHtmlUrl" style="padding: 0px 15px"></div>

<!-- 表格 -->
<div class="default-box">
    <h4>
                        续推消课   - 数据明细表
        <span ng-if="!isDay">（从 {{modelStartTime | date : 'yyyy-MM-dd'}} 至 {{modelEndTime | date : 'yyyy-MM-dd'}}）</span>
        <span ng-if="isDay">（{{modelEndTime | date : 'yyyy-MM-dd'}}）</span>
        <span ng-if="presentTime">最新统计时间：{{presentTime}}</span>
        <button class="btn btn-success bi-list-head" ng-click="getStatisticsAll()">导出列表</button>
    </h4>
    <br/>
    <div class="table-responsive">
        <table st-pipe="getStatistics" st-table="tableModel" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="font-weight: bold;" rowspan="2">校区</th>
                <th class="bi-th1" style="font-weight: bold;" colspan="4">续费明细</th>
                <th class="bi-th2" style="font-weight: bold;" colspan="6">推荐明细</th>
                <th class="bi-th3" style="font-weight: bold;" colspan="4">课时消耗</th>
            </tr>
            <tr>
                <td class="bi-th1" data-content="指定周期内指定校区学员记录中具有新增到访记录，且录入操作类型为“续推”的人头数总和"
                	data-placement="top" webui-popover>到访人数</td>
                <td class="bi-th1" data-content="指定周期内指定校区学员记录中具有新增到访记录，且录入操作类型为“续推”的人次数总和"
                	data-placement="top" webui-popover>到访人次</td>
                <td class="bi-th1" data-content="指定周期内指定校区新增类型为“续费”的订单数总和"
                	data-placement="top" webui-popover>签单数</td>
                <td class="bi-th1" data-content="指定周期内指定校区新增类型为“续费”的订单金额总和"
                	data-placement="top" webui-popover>订单金额</td>
                <td class="bi-th2" data-content="指定周期内指定校区leads渠道为“推荐”的,且具有新增到访记录的人头数总和"
                	data-placement="top" webui-popover>到访人数</td>
                <td class="bi-th2" data-content="指定周期内指定校区leads渠道为“推荐”的,且具有新增到访记录的人次数总和'"
                	data-placement="top" webui-popover>到访人次</td>
                <td class="bi-th2" data-content="指定周期内指定校区leads渠道为“推荐”的,状态为“已消课”的排课记录（type=3，一对一课程）的总人头数"
                	data-placement="top" webui-popover>体验数</td>
                <td class="bi-th2" data-content="指定周期内指定校区leads渠道为“推荐”的,状态为“已消课”的排课记录（type=3，一对一课程）的总课时数"
                	data-placement="top" webui-popover>体验课时</td>
                <td class="bi-th2" data-content="指定周期内指定校区新增订单类型为“新签”，渠道为“学习顾问推荐”的订单记录的总数"
                	data-placement="top" webui-popover>签单数</td>
                <td class="bi-th2" data-content="指定周期内指定校区新增订单类型为“新签”，渠道为“学习顾问推荐”的订单记录的总金额数"
                	data-placement="top" webui-popover>签单金额</td>
                <td class="bi-th3" data-content="指定周期内指定校区成功消课的排课记录（type=1或type=3的一对一课程）对应的课时数"
                	data-placement="top" webui-popover>实际课时量</td>
                <td class="bi-th3" data-content="指定周期内指定校区成功消课的排课记录（type=1或type=3的一对一课程）对应的课时小时数"
                	data-placement="top" webui-popover>时长</td>
                <td class="bi-th3" data-content="指定周期内指定校区成功消课的排课记录（type=3，一对一课程）对应的课时数"
                	data-placement="left" webui-popover>体验课时量</td>
                <td class="bi-th3" data-content="指定周期内指定校区成功消课的排课记录（type=3，一对一课程）对应的课时小时数"
                	data-placement="left" webui-popover>时长</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="statisticsModel in statisticsModels">
                <td>{{statisticsModel.schoolName}}</td>
                <td>{{statisticsModel.renewVisitCount}}</td>
                <td>{{statisticsModel.renewVisitTimes}}</td>
                <td>{{statisticsModel.renewOrderCount}}</td>
                <td>{{statisticsModel.renewOrderAmount}}</td>
                <td>{{statisticsModel.recommendVisitCount}}</td>
                <td>{{statisticsModel.recommendVisitTimes}}</td>
                <td>{{statisticsModel.recommendAuditionCount}}</td>
                <td>{{statisticsModel.recommendAuditionHourCount}}</td>
                <td>{{statisticsModel.recommendOrderCount}}</td>
                <td>{{statisticsModel.recommendOrderAmount}}</td>
                <td>{{statisticsModel.realClassHourCount | number : 1}}</td>
                <td>{{statisticsModel.realClassHours | number : 1}}小时</td>
                <td>{{statisticsModel.auditionClassHourCount}}</td>
                <td>{{statisticsModel.auditionClassHours}}小时</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="30" class="text-center" st-pagination="" st-items-by-page="10"
                    st-template="partials/util/pagination.custom.html">
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
