<div class="table-responsive" style=" overflow-y:hidden">
    <table class="table table-bordered table-striped">
        <thead>
	        <tr>
	        	<th rowspan="1" style="font-weight: bold;">周期</th>
	        	<th rowspan="1" style="font-weight: bold;">教师姓名</th>
	        	<th rowspan="1" style="font-weight: bold;">学科</th>
	        	<th rowspan="1" style="font-weight: bold;">消课小时数</th>
	        </tr>
        </thead>
        <tbody>
	        <tr ng-repeat="row in orderedTeacherConsumeList">
	        	<td>{{row.teacherName}}</td>
	        	<td>{{row.teacherName}}</td>
	        	<td>{{row.subjectName}}</td>
	        	<td>{{row.totalConsumeHour}}</td>
	        </tr>
        </tbody>
    </table>
</div>
