<div class="modal orderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="transferClassForm" role="form" class="form-horizontal showcase-form" novalidate="">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">可转班级：</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped"
                    	st-table="availableClassTable" st-pipe="getAvailableClassList">
                        <thead>
                            <tr>
                                <th>班级名称</th>
                                <th>科目</th>
                                <th>上课时间</th>
                                <th>老师</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in availableClassList" ng-class="{'select':row.active}" ng-click="thisTrActive($index)">
                        	<td>{{row.name}}</td>
                        	<td>{{row.subjectName}}</td>
                        	<td>
								<div ng-repeat="element in row.classTimeList">
                                       <ul>
                                           <li class="lh20">{{element.startDate}}<span class="pl-10">{{element.startTime}}-{{element.endTime}}</span></li>
                                       </ul>
								</div>
							</td>
                        	<td>{{row.teacherName}}</td>
                        </tr>
                        <tr ng-if="availableClassList.length===0">
                        	<td colspan="4">未找到可入班级</td>
                        </tr>
                        <tfoot>
							<tr>
								<td class="text-center" st-pagination="t1" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="8">
								</td>
							</tr>
						</tfoot>
                    </table>   
                </div>
                <br>
                <div class="modal-footer">
                	<button type="button" class="btn btn-default" ng-click="transferClass()">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>