<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" ng-bind="modalTitle"></h4>
      		</div>
      		<div class="modal-body">
      		    <div class="plan-top-left-title">可选课程<span>{{plan_available_num || 0}}</span>小时</div>
		  		<div class="row" >
		  		    <div class="col-sm-6 form-group" style="text-align:center">
        			<label class="col-sm-4 control-label" for="startTime" >上课日期</label>
           			<div class="col-sm-8">
           				<input type="date" name="startDate" id="startDate" ng-model="select.startDate"  class="form-control" ng-change="show.getEndTime()" onfocus="(this.type='date')" value="{{ select.startDate | date:'yyyy-MM-dd' }}"  required/>
        			</div>
        			</div>
          		</div>
		         <div class="row">
		          <div class="col-sm-6 form-group" style="text-align:center">
		            <label  class="col-sm-4 control-label">上课时间</label>
		            <div class="col-sm-8">
		                <input ype="text" datepicker="" onclick="WdatePicker({dateFmt:'H:mm'})" onchange="" readonly="" name="leadsName"
		                       ng-model="select.time" placeholder="上课时间" class="form-control ng-pristine " required="" ng-change="show.getEndTime()" ng-focus="show.getEndTime()">
		            </div>
		           </div>
		        </div>
		        <div class="row">
		        	<div class="col-sm-6 form-group" style="text-align:center">
		            <label  class="col-sm-4 control-label">上课时长</label>
		            <div class="col-sm-8">
		                <select ng-model="select.timeSize"
		                        name="select.timeSize"  class="input-sm form-control"
		                        ng-options="option.id as option.name for option in TIME_SIZE" type="search" required="" ng-change="show.getEndTime()">
		                    <option value="">请选择</option>
		                </select>
		            </div>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-sm-6 form-group" style="text-align:center">
		            <label  class="col-sm-4 control-label">下课时间</label>
		            <div class="col-sm-8">
		                <input ype="text"  readonly="" name=timeEnd
		                       ng-model="select.timeEnd" placeholder="自动生成" class="form-control ng-pristine " required="">
		            </div>
		            </div>
		        </div>
      		</div>
			<div class="modal-footer">
			  	<button type="button" class="btn btn-default" ng-click="judgePlanTime()">确定</button>
			  	<button type="button" class="btn btn-default" ng-click="cancle()">取消</button>
			</div>
    	</div>
  	</div>
</div>


