<div class="yws-container mt-lable-fl mt-mlr-0 f16 look">
    <div class="row">
        <div class="col-sm-4 form-group">
            <label for="group_no">一对多名称：</label>{{selectedGroup.group_no}}
        </div>
        <div class="col-sm-4 form-group">
            <label for="stu_num">一对多人数：</label>{{selectedGroup.stu_num}}
        </div>
        <div class="col-sm-4 form-group">
            <label for="belong_user_name">所属人：</label>{{selectedGroup.belong_user_name}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label for="belong_school_name">所属校区：</label>{{selectedGroup.belong_school_name}}
        </div>
    </div>
</div>
