<div class="view-frame" ng-controller="BiBaseController">
    <div class="view-left">
        <div ng-include="'partials/common/common.indexLeft.html'"></div>
    </div>
    <div class="view-content" ng-controller="BiChannelGradeController">
        <div>
		    <ul class="breadcrumb">
		        <li><img ng-src="img/icon/bi/yingxiao.png" src="img/icon/bi/yingxiao.png"> 营销报表<span class="divider"></span></li>
		        <li class="active">渠道年级</li>
		    </ul>
		</div>
    <div ng-include="'partials/bi/biChannelGrade/biChannelGrade.summary.html?version=1'"></div>
	</div>
</div>