<script type="text/javascript">
    $('.talent-star').raty({
        path:"img/hr",
        click: function(score, evt) {
            $("#editStarValue").val(score);
        }
    });
</script>
<div class="row">

        <!-- 筛选条件 -->
        <div class="form-horizontal c-select-text yws-container">
            <div class="yws-container">
                <div class="col-sm-4 form-group">
                    <label for="name" class="col-sm-4 control-label">姓名</label>
                    <div class="col-sm-8">
                        <input ng-model="required.name" type="text" name="name" id="name" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="mail" class="col-sm-4 control-label">邮箱</label>
                    <div class="col-sm-8">
                        <input ng-model="required.mail" type="text" name="mail" id="mail" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="tableStars" class="col-sm-4 control-label">符合度</label>
                    <div class="col-sm-8 " style="margin-bottom: 15px;">
                        <span id="tableStars" class="talent-star "></span>
                        <input hidden="true" id="editStarValue">
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="department" class="col-sm-4 control-label">应聘部门</label>
                    <div class="col-sm-8">
                        <input id="department" type="text" class="form-control" ng-click="showSelectDepartment()" ng-model="hrTalent.department.name" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="position" class="col-sm-4 control-label">应聘岗位</label>
                    <div class="col-sm-8">
                        <select name="position" id="position" ng-options="position.name for position in positions track by position.id" ng-model="hrTalent.position" class="form-control" >
                            <option value="">------请选择------</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="tel" class="col-sm-4 control-label">电话</label>
                    <div class="col-sm-8">
                        <input ng-model="required.tel" type="text" name="tel" id="tel" placeholder="----请输入手机号----" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="created_at" class="col-sm-4 control-label">登记时间</label>
                    <div class="col-sm-8">
                        <!--<input type="date" name="created_at" id="created_at" ng-model="required.created_at" class="form-control" />-->
                        <input type="text" name="created_at" id="created_at" datePicker ng-model="required.created_at"
                               class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  onchange="" readonly/>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="is_deleted" class="col-sm-4 control-label">是否删除</label>
                    <div class="col-sm-8">
                        <select ng-model="required.is_deleted" name="is_deleted" id="is_deleted"  class="form-control" >
                            <option value="">------请选择------</option>
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="recruitmentScheduleName" class="col-sm-4 control-label">流程节点</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="required.recruitmentScheduleNode" id="recruitmentScheduleName"
                                ng-options="p.name for p in allRecruitmentPoints track by p.name">
                            <option value="">------请选择------</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="id_number" class="col-sm-4 control-label">身份证号</label>
                    <div class="col-sm-8">
                        <input type="text" name="id_number" id="id_number" ng-model="required.id_number" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="created_at" class="col-sm-4 control-label">流程节点时间</label>
                    <div class="col-sm-8">
                        <input type="text" datePicker ng-model="required.scheduleDate" class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  onchange="" readonly/>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                	<label for="visitTime" class="col-sm-4 control-label">诺访日期</label>
                    <div class="col-sm-8">
                    	<input id="visitTime" type="text" datePicker ng-model="required.visitTime" class="form-control" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  onchange="" readonly/>
                    </div>
                </div>
            </div>
            <div class="c_center">
                <button id="keydown-query" class="btn btn-primary" ng-click="getTalentsByFilter(1)">查询</button>
                <button class="btn" ng-click="reset()">重置</button>
            </div>
        </div>
        <div class="table-responsive c-select-text" >
            <div class="c-tab-title" style="margin-top: 0">人才列表</div>
            <table st-pipe="getTalentRequiredList" st-table="talents" class="table table-bordered table-striped c-tab-content">
                <thead>
                <tr>
                    <th>简历编号</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>应聘岗位</th>
                    <th>登记时间</th>
                    <th>最初登记人</th>
                    <th>处理人</th>
                    <th>流程状态</th>
                    <th>流程节点时间</th>
                    <th>邀约诺访时间</th>
                    <th>符合度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="hrTalent in hrRequiredTalents track by $index">
                    <td>{{hrTalent.id}}</td>
                    <td><a ng-click="showInfoView(hrTalent)">{{hrTalent.name}}</a></td>
                    <td>{{hrTalent.tel}}</td>
                    <td>{{hrTalent.position.name}}</td>
                    <td>{{hrTalent.created_at | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>{{hrTalent.creator}}</td>
                    <td>{{hrTalent.executors}}</td>
                    <td>{{hrTalent.scheduleStatus}}</td>
                    <td>{{hrTalent.recruitmentSchedule[0].scheduleDate | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>{{hrTalent.recruitmentSchedule[0].visitTime | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>
                    	<span style="width: 100px;">
	                    	<img ng-if="(hrTalent.meet_degree >= 1)" src="img/hr/star-on.png" alt="1" title="bad">
	                    	<img ng-if="(hrTalent.meet_degree < 1)" src="img/hr/star-off.png" alt="1" title="bad">
	                    	<img ng-if="(hrTalent.meet_degree >= 2)" src="img/hr/star-on.png" alt="2" title="poor">
	                    	<img ng-if="(hrTalent.meet_degree < 2)" src="img/hr/star-off.png" alt="2" title="poor">
	                    	<img ng-if="(hrTalent.meet_degree >= 3)" src="img/hr/star-on.png" alt="3" title="regular">
	                    	<img ng-if="(hrTalent.meet_degree < 3)" src="img/hr/star-off.png" alt="3" title="regular">
	                    	<img ng-if="(hrTalent.meet_degree >= 4)" src="img/hr/star-on.png" alt="4" title="good">
	                    	<img ng-if="(hrTalent.meet_degree < 4)" src="img/hr/star-off.png" alt="4" title="good">
	                    	<img ng-if="(hrTalent.meet_degree >= 5)" src="img/hr/star-on.png" alt="5" title="gorgeous">
	                    	<img ng-if="(hrTalent.meet_degree < 5)" src="img/hr/star-off.png" alt="5" title="gorgeous">
                    	</span>
                    <td>
                        <a ng-if="checkPermision(hrTalent) === 1 && (hrTalent.talentRelatedEmployeeStatus == -1 || hrTalent.talentRelatedEmployeeStatus == 1)" ng-click="showTransferView(hrTalent)" title="转让"><span class="glyphicon glyphicon-yws-right"></span></a>&nbsp;
                        <a ng-click="showDetailView(hrTalent)" title="招聘记录查询"><span class="glyphicon glyphicon-plus"></span></a> &nbsp;
                        <a ng-click="download(hrTalent)" download="{{hrTalent.displayFileName}}" title="下载简历"><span class="glyphicon glyphicon-yws-download"></span></a> &nbsp;
                        <a ng-if="checkPermision(hrTalent) != 3 && (hrTalent.talentRelatedEmployeeStatus == -1 || hrTalent.talentRelatedEmployeeStatus == 1)" ng-click="showEditView(hrTalent)" title="修改"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                        <a ng-if="checkPermision(hrTalent) === 1 && (hrTalent.talentRelatedEmployeeStatus == -1 || hrTalent.talentRelatedEmployeeStatus == 1)" ng-click="removeTalent(hrTalent)" title="删除"><span class="glyphicon glyphicon-delete"></span></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                <tr>
                    <td colspan="13" class="text-center"><div class="loading-indicator"></div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" st-template="partials/util/pagination.custom.html" colspan="12">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
</div>